#table {
    height: 400px;
    width: 990px;
    border-radius: 8px;
    background-color: var(--secondary-backgruoud-color);
    text-align: left;
    align-items: center;    
    padding-top: 80px;
}

table {
    width: 958px;
}

.table-container {
    max-height:fit-content;
    overflow-y: scroll;
    vertical-align: top; 
    padding-top: 110px;
}

#table tr {
    height: 42px;
    font-family: 'Open Sans';   
    color: var(--primary-color);
    font-size: 14px;
}

thead {
    height: 42px;
    width: 955px;
    position: absolute;
    top: 440px;
    z-index: 1;
    font-size: 12px;
    color: var(--tertiary-color);
    background-color: #F7F8FA;
    font-family: 'Open Sans';
    display: flex;
    box-sizing: border-box;
}

th{
    padding: 9px 16px 0 16px;
}

tr :first-child{
    width: 312px;
}

#identificator{
    width: 127px;
}

#status{
    width: 192px;
}

#processed{
    width: 142px;
}

#total{
    width: 171px;
}

tbody{
    vertical-align: top;

}
#table-data td {
    padding: 0 16px 0 16px;
}

#table tr:nth-child(even) {
    background-color: #F7F8FA;
}

#table tr:hover {
    background-color: #e0e0e0; 
}


@media (max-width: 900px){
    
    thead{
        width: 100vw;
    }
    table tr{
        width: 90vw;
    }
    table{
        width: 100vw;
    }
    #table{
        width: 100vw;
    }
    tr :first-child{
        width: 140px;
    }
}
@media (max-width: 760px){
    tr :first-child{
        width: 120px;
    }
}
@media (max-width: 700px){
    th{
        padding: 9px 0px 0 16px;
    }
    #name{
        width: 250px;
        padding-right: 50px;
    }
    #identificator{
        padding-right: 30px;
    }
    tr :first-child{
        width: 120px;
    }
}

@media (max-width: 440px){
    th{
        padding: 9px 0px 0 16px;
    }
    #name{
        width: 250px;
        padding-right: 33px;
    }
    #identificator{
        padding-right: 20px;
    }
    tr :first-child{
        width: 30px;
    }
}