
#table {
    height: 400px;
    width: 990px;
    border-radius: 8px;
    background-color: var(--secondary-backgruoud-color);
    text-align: left;
    align-items: center;    
    padding-top: 42px;
}

table {
    width: 958px;
}

.table-container {
    max-height:max-content;
    overflow-y: scroll;
    vertical-align: top; 

}


#table tr {
    height: 42px;
    font-family: 'Open Sans';
    color: var(--primary-color);
    font-size: 14px;
}




thead {
    height: 42px;
    width: 955px;
    position: absolute;
    top: 440px;
    z-index: 1;
    font-size: 12px;
    color: var(--tertiary-color);
    background-color: #F7F8FA;
    font-family: 'Open Sans';
    display: flex;
    box-sizing: border-box;
}

th{
    padding: 9px 16px 0 16px;
}

tr :first-child{
    width: 312px;
}

#identificator{
    width: 127px;
}

#status{
    width: 192px;
}

#processed{
    width: 142px;
}

#total{
    width: 171px;
}

tbody{
    vertical-align: top;

}
#table-data td {
    padding: 0 16px 0 16px;
}

#table tr:nth-child(even) {
    background-color: #F7F8FA;
}

#table tr:hover {
    background-color: #e0e0e0; 
}
