
#counters {
    height: 92px;
    flex-direction: row;
    justify-content: space-between;
}

#counters data {
    align-self: flex-end;
}

#counters article {
    width: 319.33px;
    padding: 16px;
    flex-direction: row;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--counterss-border-color);
    background-color: var(--secondary-backgruoud-color);
    gap: 16px;
    align-items: center;
    justify-content: left;
}

#counters svg {
    height: 60px;
    width: 60px;
}

#counters h4 {
    height: 60px;
    justify-content: space-between;
    font-weight: 600;
    color: var(--quaternary-color);
}

#emails svg,
#sms svg,
#print svg {
    height: 60px;
    width: 60px;
    border-radius: 8px;
}

#emails svg {
    background: url(../email.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--primary-background-color);
}

#sms svg {
    background: url(../sms.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--primary-background-color);

}

#print svg {
    background: url(../print.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--primary-background-color);
}

#counters .number{
    font-family: var(--font-primary);
    font-size: 31px; 
}